@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

:root {
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
  --primaryfont: "Aclonica", sans-serif;
  --secondaryfont: "Abel", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  min-height: 11vh;
  background: var(--primary-dark);
  display: flex;
  align-items: center;
  padding-left: 1.2rem;
}

.mainHeader {
  font-family: var(--primaryfont);
  font-size: 1.8rem;
}

.projectPreview {
  margin: 1.9rem 0rem;
  /* border: 5px solid red; */
  width: 50%;
}

.hidden {
  display: none;
}

.title {
  padding-left: 0.5rem;
  color: var(--primary-light);
  font-size: 2.8rem;
  font-family: var(--secondaryfont);
  font-weight: bolder;
}

.fas {
  font-size: 2.5rem;
  color: var(--primary-light);
}

#main {
  background-color: var(--primary-light);
  height: 85vh;
  width: 100%;
  color: var(--primary-dark);
  display: flex;
  justify-content: space-evenly;
}
aside {
  background: var(--secondary-light);
  width: 18.5%;
  height: 85vh;
}

main {
  display: flex;
  font-family: var(--primaryfont);
}

#addTask {
  width: 100%;
  /* background: rgba(128, 128, 128, 0.1); */
  background: rgba(105, 105, 105, 0.05);
  margin-left: 0;
}
.fa-inbox,
.fa-calendar-week,
.fa-calendar-day,
.fa-plus {
  color: black;
  font-size: 1rem;
  padding-right: 0.8rem;
}

.asideText {
  width: 87%;
  /* background:#ccc; */
  margin-left: 1.1rem;
  font-size: 1.1rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding-left: 1.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.inbox {
  margin-top: 1.3rem;
}

[data-isSelected] {
  background-color: #ccc;
  border-radius: 0.2rem;
}

.projectText {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  margin-left: 1.1rem;
  font-weight: lighter;
}

input {
  border: none;
  appearance: none;
  background: #f2f2f2;
  border-radius: 3px;
  margin: 1rem 0rem;
  font-family: var(--secondaryfont);
  padding: 0 1rem 0 0.2rem;
  border: solid 1px var(--secondary-dark);
}

input:focus {
  outline: none;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}
.button {
  width: 50%;
  background: #aaffaa;
  border: 1px solid #99dd99;
  margin-left: 1.1rem;
  font-size: 1.1rem;
  height: 2.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.asideButtonContainer {
  width: 87%;
  display: flex;
  justify-content: center;
}

.asideButtonContainer .cancel {
  border: 1px solid #eeadad;
  background-color: #ffbebe;
}

#todo-container {
  background-color: violet;
}
